




.cuerpo-producto{
    h2{
        color: white;
        text-align: center;
    }
    div{
        section{
            h3{
                text-align: center;
            }
            
        }
        
        
        
    }
}
